@page "/starwars"
@using SwapiChallenge.Shared.Data
@inject HttpClient Http

<div class="d-flex">

    <div class="people-list">
        @if (people != null)
        {
            @foreach (var person in people)
            {
                <PersonCell person="person" OnClickCallback="@(()=>selectPerson(person))"></PersonCell>
            }
        }

        @if (isLoading)
        {

            <LoadingIndicator></LoadingIndicator>

        }
        @if (!isLoading && (people == null || people.Count == 0))
        {
            <div class="error-cell">
                <div class="h2 high-emphasis">Failed to Load Data</div>
            </div>
        }
    </div>
    <div class="person-detail flex-grow-1">

        @if (selectedPerson != null)
        {

            <PersonDetail person="selectedPerson"></PersonDetail>
        }

    </div>
</div>


@code {
    private List<Person> people = new List<Person>();

    private Person selectedPerson;

    private int currentPage = 1;

    private bool isLoading;

    private string error;



    protected override void OnInitialized()
    {
        fetchData();
    }


    async void fetchData()
    {
        isLoading = true;
        StateHasChanged();
        Person[] response;
        try
        {

            do
            {
                response = await Http.GetFromJsonAsync<Person[]>($"api/starwars?page={currentPage}");
                if (response.Length > 0)
                {

                    people.AddRange(response);
                    currentPage++;
                    StateHasChanged();
                }
            } while (response.Length > 0);
        }
        catch (Exception err)
        {
            error = err.Message;
        }
        isLoading = false;
        StateHasChanged();
    }

    private void selectPerson(Person person)
    {
        selectedPerson = person;
    }

}
