body {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0125em;
    color: var(--color-text-dark);
}

.low-emphasis {
    color: var(--color-text-light);
}

h2,
.h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0125em;
    color: var(--color-text-dark);
    margin: 0;
}

    h2.low-emphasis,
    .h2.low-emphasis {
        color: var(--color-text-light);
    }

    h2.high-emphasis,
    .h2.high-emphasis {
        color: var(--color-text-emphasis);
    }
